main {
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.piscar {
    width: 200px;
    height: 200px;
    background-color:darkgreen;
    border: solid 1px black;  
}
.piscar:focus{
    animation: pisca 2.5s linear;
}
@keyframes pisca{
    20% {
        background-color: blue
    }
    40% {
        background-color: red;
    }
    60% {
        background-color: darkorange;
    }
    80% {
        background-color:blueviolet;
    }
    100% {
        background-color:darkgreen;
    }
}

.girar {
    width: 200px;
    height: 200px;
    background-color:bisque;
    border: solid 1px black;
}
.girar:focus {
    animation: giro 4s linear;
}
@keyframes giro {
    0% {
        transform: rotateX(0deg);
    }
    25% {
        transform: rotateX(360deg);
    }
    50% {
        transform: rotateX(0deg);
    }
    75% {
        transform: rotateX(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.sumir {
    width: 200px;
    height: 200px;
    background-color:bisque;
    border: solid 1px black;
}
.sumir:focus {
    animation: some 2s;
}
@keyframes some {
    from {
        opacity: 100%;
    }
    to { 
        opacity: 0%;
    }
}

.mover {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color:bisque;
    border: solid 1px black;
    top: 700px;
}
.mover:focus {
    animation: move 5s linear;
}
@keyframes move {
    0% {
        left: 45%;
    }
    25% {
        left: 75%;
    }
    50% {
        left: 45%;
    }
    75% {
        left: 15%
    }
    100% {
        left: 45%
    }
}

.explodir {
    margin-top: 232px;
    width: 200px;
    height: 200px;
    background-color:bisque;
    border: solid 1px black;
}
.explodir:focus {
    animation: explode 2.5s ease-out;
}
@keyframes explode {
    from {
        width: 200px;
        height: 200px;
        opacity: 100%;
        background-color: bisque;
    }
    to {
        width: 300px;
        height: 300px;
        opacity: 0%;
        background-color: red;
    }
}

.loading {
    width: 200px;
    height: 200px;
    background-color: transparent;
    border: solid 1px black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.loading div {
    background-color: gray;
    width: 20px;
    height: 20px;
    border-radius: 100px;
}

.bolinha1 {
    animation: carregando 1s linear infinite;
}
.bolinha2 {
    animation: carregando 1s linear infinite;
    animation-delay: 0.2s;
}
.bolinha3 {
    animation: carregando 1s linear infinite;
    animation-delay: 0.4s;
}

@keyframes carregando {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
    }
}

.transformacoes {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: bisque;
    border: solid 1px black;
}

.transformar1 {
    width: 200px;
    height: 200px;
    opacity: 100%;
    z-index: 1;
    position: absolute;
    left: 0px;
    background-color: bisque;
    border: none;
    animation: removertexto 2s ease-out infinite alternate;
}
.transformar2 {
    background-color: transparent;
    width: 200px;
    height: 200px;
    position: absolute;
    border: none;
    left: 0px;
    z-index: 0;
    animation: removertexto 2s ease-in infinite alternate-reverse;
}

@keyframes removertexto {
    from {
        opacity: 100%;
    }
    to {
        opacity:  0%;
    }
}

.tela_paralax {
    position: relative;
    width: 1000px;
    height: 500px;
    border: solid 1px black;
    background-color: cornflowerblue;
    overflow: hidden;
}
.nuvem {
    position: absolute;
    height: 100px;
    top: 40px;
    left: 100%;
    animation: movimento 8s linear infinite;
    z-index: 1;
}
@keyframes movimento {
    from {
        left: 100%;
    }
    to {
        left: -25%
    }
}

.personagem {
    position: absolute;
    height: 100px;
    bottom: 50px;
    left: 100px;   
    z-index: 1;
}
.chao {
    position: absolute;
    width: 2000px;
    height: 55px;
    bottom: 0;
    z-index: 1;
    background-image: url(./chao3.png);
    animation: movimentoFundo 3s linear infinite;
    background-repeat: repeat;
}
.arvore {
    position: absolute;
    height: 250px;
    bottom: 50px;
    animation: movimento 1.5s linear infinite;
    z-index: 1;
}

.fundo1 {
    position: absolute;
    background-repeat: repeat;
    background-image: url(./fundo_branco2.png);
    z-index: 0;
    animation: movimentoFundo 15s linear infinite;
    height: 300px;
    width: 2000px;
    bottom: 50px;
}

.fundo2 {
    position: absolute;
    background-repeat: repeat;
    background-image: url(./fundo_verde2.png);
    height: 250px;
    width: 2000px;
    bottom: 50px;
    animation: movimentoFundo 10s linear infinite;
}

@keyframes movimentoFundo {
    from {
        left: 0px;
    }
    to {
        left: -1000px
    }
}
